host cp
    hostname hg.cradlepoint.com
    port 8022
    ForwardX11 no
    Compression yes
    User dpoole
#    DynamicForward 18080

host marvin
	hostname marvin.local
	User dpoole

host I
    hostname iguana.mbuf.com
    port 40905
    ForwardX11 no
    Compression yes
    User davep

host dt
	hostname deep-thought.local
	user dpoole

host ff
	hostname flipflop.local
	user davep
	ciphers -aes256-gcm@openssh.com,-aes256-gcm

host ad
	hostname arthurdent.local
	user dpoole

host 192.168.0.1
	user admin
	UserKnownHostsFile /dev/null
	StrictHostKeyChecking no

host 172.16.22.1
	user admin
	UserKnownHostsFile /dev/null
	StrictHostKeyChecking no

host 172.16.16.1
	user admin
	UserKnownHostsFile /dev/null
	StrictHostKeyChecking no

host 172.17.22.1
	user admin
	UserKnownHostsFile /dev/null
	StrictHostKeyChecking no

host 172.16.17.1
        user admin
        UserKnownHostsFile /dev/null
        StrictHostKeyChecking no

host 172.16.90.1
        user admin
        UserKnownHostsFile /dev/null
        StrictHostKeyChecking no

